<div *ngIf="todos()" class="todos">
  <app-feedback-messages *ngIf="feedback_messages" [messages]="feedback_messages"/>
  <button (click)="new()">{{ 'ADD_TODO' | translate }}</button>
  <form (submit)="submit($event)" *ngIf="formOpen()" [formGroup]="todoForm" action="">
    <input formControlName="ctlId" id="id" name="id" type="hidden"/>
    <p>
      <label for="title">{{'LBL_TODO_TITLE'|translate}}</label>
      <input formControlName="ctlTitle" id="title" name="title" type="text">
    </p>
    <p>
      <button>{{'BTN_TODO_SAVE'|translate}}</button>
    </p>
  </form>
  <app-todo *ngFor="let todo of todos()"
            [deleteEmitter]="$deleteObserver"
            [editEmitter]="$editObserver"
            [doneEmitter]="$doneObserver"
            [todo]="todo"
  />
</div>
